.comp__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 650px;
  min-height: 70px;
  background-color: var(--cardBg);
  margin: 10px auto;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  transition: 0.2s ease-out;
}

.comp__card:hover{
  background: var(--pinkOpacity);
  color: white;
  border: 2px solid var(--pink);
}

.card__city{
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  max-width: 50%;
}

.card__city-info{
  position: absolute;
  right: 3%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 10px 0px 10px;
  min-width: 120px;
  font-size: 20px;
  font-weight: 600;
}

.city-info__img{
  display: inline;
  height: 64px;
  margin: 0px;
}

a{
  text-decoration: none;
}

p{
  margin: 0px;
}