@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --background: #261c2c;
  --foreground: #3e2c41;
  --accent1: #5c527f;
  --cardBg: rgba(255,255,255,0.3);
  --accent2: #6e85b2;
  --accent2darker: #4e6592;
  --niceGreen: #50cb93;
  --niceGreenDarker: #30ab73;
  --lightRed: #ff4848;
  --darkGrey: #494949;
  --darkerGrey: #242424;
  --lightGrey: #eee;
  --pink: #E93B81;
  --pinkOpacity: rgba(233, 59, 129, 0.2);
  --screenwith: 390px;
}
