@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.main-page{
  position: fixed;
  background-image: url('./img/anime-sky3.jpg');
  background-size: cover;
  /*background-size: 100% 100%;*/
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

@media(min-width: 177vh){
  .main-page{
    background-size: 100vw 56vw;
  }
}

.main-page__container {
  position: relative;
  max-width: 650px;
  margin: 10px auto;
}

.main-page__container2 {
    max-width: 650px;
    margin: 0 auto;
    overflow-y: scroll;
    scrollbar-width: none;
    height: calc(100vh - 80px);
}

.main-page__container2::-webkit-scrollbar {
    display: none;
}

.container2__city-loop {
    display: flex;
    align-items: center;
    max-width: 650px;
}

.city-loop__comp {
    width: 100%;
}

.city-loop__del-btn {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    color: var(--lightRed);
    border: 2px solid var(--lightRed);
    background: none;
}

.city-loop__del-btn:hover {
    background: var(--lightRed);
    color: white;
}

.main-page__info {
    position: fixed;
    bottom: 8%;
    left: 5%;
    right: 5%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info__img {
    height: 5%;
    width: 5%;
}

.info__text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 220%;
    color: rgba(207, 207, 207, 0.589);
}
