body {
  background: var(--background);
  padding: 5px;
}

.mainPage {
  max-width: 390px;
  margin: 0 auto;
  height: 1000px;
}

.mainPage__container {
  max-width: 300px;
  margin: 20px auto;
}

.container__searchbar {
  width: 79%;
  height: 25px;
  margin-right: 1%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fff;
}

.container__searchbar:focus {
  outline: 2px solid var(--accent2);
}

.container__addBtn {
  width: 19%;
  height: 25px;
  margin-left: 1%;
  border-radius: 5px;
  /*border: 2px solid var(--grey);*/
  border: none;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.container__addBtn:hover {
  color: #ffffff;
  background: var(--niceGreen);
  border-color: var(--niceGreen);
  transition: 0.2s ease-out;
}

.container__editBtn {
  width: 19%;
  height: 25px;
  margin-left: 1%;
  border-radius: 5px;
  /*border: 2px solid var(--grey);*/
  border: none;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.container__editBtn:hover {
  color: #ffffff;
  background: var(--accent2);
  border-color: var(--accent2);
  transition: 0.2s ease-out;
}

.mainPage__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  height: 50px;
  background-color: var(--accent1);
  margin: 10px auto;
  border-radius: 5px;
  color: var(--background);
  transition: background, color 0.2s ease-out;
}

.mainPage__card:hover{
  background: var(--accent2);
  color: var(--niceGreen);
  outline: 2px solid var(--niceGreen);
}

.card__city{
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
}

.card__city-info{
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
}

.city-info__img{
  height: 50px;
}

a{
  text-decoration: none;
}
